.movie-block {
  width: 454px;
  height: 281px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-bottom: 27px;
  position: relative;
}

.block-info {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  justify-content: space-around;
}

.block-info__content {
  overflow: hidden;
  width: 210px;
}

.block-info__tile {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 20px;
  width: 190px;
  margin: 0;
}

.block-info__rating {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
  border-radius: 50%;
  font-size: 12px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.block-info__rating-a {
  border: 2px solid #66e900;
}

.block-info__rating-b {
  border: 2px solid #e9d100;
}
.block-info__rating-c {
  border: 2px solid #e97e00;
}

.block-info__rating-d {
  border: 2px solid #e90000;
}

.block-info__content {
  overflow: hidden;
}

.block-info__release {
  font-family: 'Roboto', sans-serif;
  color: #827e7e;
  line-height: 22px;
  font-size: 12px;
  position: relative;
  margin: 0;
}

.block-info__genres {
  display: flex;
  flex-wrap: wrap;
}

.block-info__description {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
