.wrapper {
  width: 1010px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding-top: 19px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.btn {
  width: 70px;
  color: var(--text-color, rgba(0, 0, 0, 0.65));
  font-size: 20px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
  padding-bottom: 5px;
}

button:focus {
  color: #1890FF;
  border-bottom: 3px solid #1890FF;
}

.movie-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
